<!DOCTYPE html>
    <head>
        <title>M State</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div class="output">
            <div id="nav">
                <div class="project_name">User Dashboard</div>
                <ul>
                    <li>
                        <a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i>
                            Dashboard</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>
    
                        New Record</a></li>
                    <li><a href="search.html" class="active"><i class="fa fa-search"></i>Search</a></li>
                    <li><a href="#"><i class="fa fa-edit"></i>Edit</a></li>
                    <li><a href="#"><i class="fa fa-trash"></i>Delete</a></li>
                    <li><a href="allrec.html"><i class="fa fa-copy"></i>All Record</a></li>
                </ul>
            </div>
            <div id="main-wrap">
                <div class="top-nav">
                    <div class="user-id">
                        <h5>Welcome User</h5>
                    </div>
                    <div class="space"></div>
                    <div class="user-img"><h5>img</h5></div>
                    <div class="user-img"><h5>User</h5></div>
                </div>
                <div class="content-area">
                    <div class="data-from">
                        <form action="">
                            <label>Flat ID</label><br>
                            <input type="number" id="flatId" name="FlatId"><br>
                            <label>Select Location</label><br>
                            <select id="location" name="flocation">
                                <option value="dhaka">Dhaka</option>
                                <option value="chittagong">Chittagong</option>
                                <option value="khulna">Khulna</option>
                                <option value="sylhet">Sylhet</option>
                              </select>
                              <br>
                            <label>Price</label><br>
                            <input type="number" id="price" name="FlatPrice"><br>
                            <label>Flat Size</label><br>
                            <select id="flat_size" name="flocation">
                                <option value="type_a">5000 * 2000 FT</option>
                                <option value="type_b">8000 * 3000 FT</option>
                                <option value="type_c">10000 * 8000 FT</option>
                                <option value="type_d">12000 * 15000 FT</option>
                              </select><br>
                              <label>Short Description</label><br>
                              <textarea  class ="flatdes" name="flat_des">
                                </textarea>
                                <br>
                                <input type="submit" value="Submit" class="submit-btn">
                            </form>
                    </div>
                </div>
            </div>
    
        </div>
    </body>
</html>