<!DOCTYPE html>
    <head>
        <title>User Dashboard</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <div class="output">
            <div id="nav">
                <div class="project_name">User Dashboard</div>
                <ul>
                    <li>
                        <a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i>
                            Dashboard</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>
    
                        New Record</a></li>
                    <li><a href="search.html" class="active"><i class="fa fa-search"></i>Search</a></li>
                    <li><a href="#"><i class="fa fa-edit"></i>
    
                        Edit</a></li>
                    <li><a href="#"><i class="fa fa-trash"></i>Delete</a></li>
                    <li><a href="allrec.html"><i class="fa fa-copy"></i>All Record</a></li>
                </ul>
            </div>
            <div id="main-wrap">
                <div class="top-nav">
                    <div class="user-id">
                        <h5>Welcome User</h5>
                    </div>
                    <div class="space"></div>
                    <div class="user-img"><h5>img</h5></div>
                    <div class="current-user dropbtn"><h5>@miraz</h5>
                        <div class="dropdown-content">
                            <a href="#">Privacy</a>
                            <a href="#">Github</a>
                            <a href="#">Sign out</a>

                        </div>
                    </div>

                </div>
                <div class="content-area">
                    <div class="statuscard-block">
                        <div class="status-card">
                            <span class="status-id">40</span>
                            <span class="status-val">Records</span>
                        </div>
                        <div class="status-card">
                            <span class="status-id">40</span>
                            <span class="status-val">Records</span>
                        </div>
                        <div class="status-card">
                            <span class="status-id">40</span>
                            <span class="status-val">Records</span>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </body>
</html>