<!DOCTYPE html>
    <head>
        <title>Login to application</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body style="background: #eee;">
        <div class="login-block">
            <h3 class="login-header">User Login</h3>
            <form action="" style="
            width: 96%;">
                <input type="text" class="loginip" placeholder="User id" name="loginId">
                <input type="password" class="loginpas" placeholder="Password" name="loginPass">
                <button type="submit" name="Login" class="logsbtn">Login</button>
            </form>
        </div>
    
    </body>

</html>