<!DOCTYPE html>
    <head>
        <title>Search Page</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div class="output">
            <div id="nav">
                <div class="project_name">User Dashboard</div>
                <ul>
                    <li>
                        <a href="index.html"><i class="fa fa-tachometer" aria-hidden="true"></i>
                            Dashboard</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>
    
                        New Record</a></li>
                    <li><a href="search.html" class="active"><i class="fa fa-search"></i>Search</a></li>
                    <li><a href="#"><i class="fa fa-edit"></i>
    
                        Edit</a></li>
                    <li><a href="#"><i class="fa fa-trash"></i>Delete</a></li>
                    <li><a href="allrec.html"><i class="fa fa-copy"></i>All Record</a></li>
                </ul>
            </div>
            <div id="main-wrap">
                <div class="top-nav">
                    <div class="user-id">
                        <h5>Welcome User</h5>
                    </div>
                    <div class="space"></div>
                    <div class="user-img"><h5>img</h5></div>
                    <div class="user-img"><h5>User</h5></div>
                </div>
                <div class="content-area">
                        <div class="search-card">
                            <input type="text" class="rec-search" placeholder="Type id here">
                            <button class="src-btn">Search</button>
                        </div>
                        <div class="search-result">
                            <div class="data-card">
                                <span class="flat-id">Flat ID : 14587</span>
                                <span class="flat-loc">Location : Chittagong</span>
                                <p class="flat-des">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                </p>
                                <span class="flat-size">Flat Size : 12000*8000</span>
                                <span class="flat-price">Flat Size : $58000 USD</span>
                            </div>
                        </div>
            </div>
    
        </div>
    </body>
</html>